{% extends 'notes/base.html' %}

{% block content %}

{% load static %}
<title>MJ: My Jottings</title>
<meta name="viewport" content="width=device-width, initial-scaled=1">
<link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}">

<header class="header">
    <div class="header-text">Sign in via:</div>
    <a href="https://gmail.com" class="header-link">Gmail</a>
    <a href="https://facebook.com" class="header-link">Facebook</a>
</header>

<section class="landing-section landing-main">
    <div class="landing-section-content">
        <h1 class="brand">MJ</h1>
        <h2>
            <span class="brand-text">My</span>
            <span class="brand-text">J</span>ottings
        </h2>
        <p class="landing-main-text">
            When would we stop forgetting vital info, and going through the stress of sourcing for them again.
            <br>
            Jot things down...
            <br>
            ...so you can take things away.
        </p>
    </div>
</section>

<section class="landing-section landing-features">
    <section class="landing-feature feature-notes-services">
        <h2>Quick <span class="brand-text">No</span>tes</h2>
        <ul>
            <li>Create new notes</li>
        </ul>
    </section>

    <section class="landing-feature feature-notifications">
        <h2>My <span class="brand-text">N</span>otes</h2>
        <ul>
            <li>Edit a note</li>
            <li>Read a note</li>
            <li>Retrieve all notes</li>
            <li>Delete a note</li>
        </ul>
    </section>
</section>

    {% for note in object_list %}
        <div class="note-entry">
            <h2><a href="{% url 'note_detail' notes.pk%}">{{ note.title }}</a></h2>
            <p>{{ note.body }}</p>
        </div>
    {% endfor %}

{% endblock content %}